{% comment %} {% for i in posts %}
    <p>{{i.id}}</p>
    <p>{{i.title}}</p>
    <p>대문자: {{i.content|upper}}</p>
    <p>소문자: {{i.content|lower}}</p>
    <p>줄바꿈 안함: {{i.content}}</p>
    <p>줄바꿈: {{i.content|linebreaks}}</p>
    <p>말줄임: {{i.content|truncatewords:5}}</p>
    <p>말줄임: {{i.content|truncatewords:7}}</p>
    <p>슬라이싱: {{i.content|slice:":10"}}</p>
    <p>공백 병합(join): {{i.content|join:'-'}}</p>
    <p>['hello', 'world', 'hi'] => hello-world-hi</p>
    <p>길이: {{i.content|length}}</p>
    {% if i.content|length >= 20 %}
        <p>길이가 20자 이상입니다.</p>
    {% endif %}
    <p>태그 없애기: {{i.content|striptags}}</p>
    <p>문자열에 더하기: {{i.content|add:"!"}}</p>
    <p>변수로 추가하기: {{i.content|add:i.title}}</p>
    <p>날짜: {{i.created_at}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"y/m/d"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"y-m-d"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"y"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"Y"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"M"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"D"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"h"}}</p>
    <p>날짜 형식 바꾸기: {{i.created_at|date:"i"}}</p>
    <p>필터 중첩: {{i.content|upper|linebreaks|truncatewords:10}}</p>
    <hr>
{% endfor %}

<!-- 저는 잘 사용하진 않습니다. -->
{% lorem 1 b random %}
{% lorem 1 p random %}
{% lorem 2 w random %}
<!-- 단어 w, 단락 p, 일반텍스트 b -->
{# lorem [count] [method] [random] #} {% endcomment %}

{% comment %} {% for i in posts %}
    <h1>{{ i.title }}</h1>
    <p>{{ i.content }}</p>
    <p>{{ forloop.counter }}</p>
    <p>{{ forloop.counter0 }}</p>
    <p>{{ forloop.counter|add:100 }}</p>
    <p>{{ forloop.revcounter }}</p>
    <p>{{ forloop.first }}</p>
    <p>{{ forloop.last }}</p>
{% endfor %} {% endcomment %}

{# 주석입니다. #}
{% comment 'licat' %}
이 코드는 영국에서 시작되어 ...
{% endcomment %}
{% comment %} hello world

{% url 'some-url-name' v1 v2 %}
{% url 'some-url-name' arg1=v1 arg2=v2 %}

path("client/<int:id>/", app_views.client, name="app-views-client")
{% url 'app-views-client' client.id %} {% endcomment %}

{% comment %} {% load markdown_deux_tags %}
{% for i in posts %}
    <p>{{ i.content | markdown }}</p>
{% endfor %} {% endcomment %}

{% for i in posts %}
    <h1>{{ i.title }}</h1>
    <p>{{ i.content }}</p>
    <p>{{ i.author }}</p>
    <!-- 필드에 없어도 1:N으로 연결되었으면 1쪽에서 접근 가능합니다. -->
    <!-- 그렇지만 아래처럼 접근하면 None입니다! 이유는 comments 전체를 로딩할 수가 없습니다. -->
    <p>{{ i.comments }}</p>
    <p>{{ i.tags }}</p>

    <!--하지만 순회로는 접근할 수가 있어요!!-->
    {% for comment in i.comments.all %}
        <p>{{ comment.message }}</p>
    {% endfor %}
    {% for tag in i.tags.all %}
        <p>{{ tag.name }}</p>
    {% endfor %}
    <hr>
{% endfor %}